.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.wrapper{
  align-self: flex-start;
}

.wrapper >button{
  border:none;
  outline: none;
  background-color: blueviolet;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 3rem;
  
}

.wrapper > span{
  padding: 0 2em;
  font-size: 2rem;
}